<log4net>
	<logger name="ServiceCheck">
		<level value="ALL" />
		<appender-ref ref="ServiceCheckAll" />
		<appender-ref ref="ServiceCheckError" />
	</logger>
	<appender name="ServiceCheckAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/ServiceCheck.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ServiceCheckError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/ServiceCheck.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="EmailError">
		<level value="ALL" />
		<appender-ref ref="EmailErrorAll" />
		<appender-ref ref="EmailErrorError" />
	</logger>
	<appender name="EmailErrorAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/EmailError.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="EmailErrorError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/EmailError.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="DPAReportLog">
		<level value="ALL" />
		<appender-ref ref="DPAReportLogAll" />
		<appender-ref ref="DPAReportLogError" />
	</logger>
	<appender name="DPAReportLogAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/DPAReportLog.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="DPAReportLogError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/DPAReportLog.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="GlacierProcess">
		<level value="ALL" />
		<appender-ref ref="GlacierProcessAll" />
		<appender-ref ref="GlacierProcessError" />
	</logger>
	<appender name="GlacierProcessAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/GlacierProcess.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="GlacierProcessError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/GlacierProcess.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="QTReportLog">
		<level value="ALL" />
		<appender-ref ref="QTReportLogAll" />
		<appender-ref ref="QTReportLogError" />
	</logger>
	<appender name="QTReportLogAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/QTReportLog.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="QTReportLogError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Dynamic Report Generator/QTReportLog.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
</log4net>