<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="" />
		<add key="AWSSecretKey" value="" />
    <add key="SQSError" value="sqs-dev-errorQ" />
    <add key="S3ErrorLog" value="s3-dev-remoteanalyst-error-log" />
    <add key="RegionEndpoint" value="west2" />
    <!--<add key="RegionEndpoint" value="east2" />-->
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
