<log4net>
	<logger name="EmailError">
		<level value="ALL" />
		<appender-ref ref="EmailErrorAll" />
		<appender-ref ref="EmailErrorError" />
	</logger>
	<appender name="EmailErrorAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/EmailError.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="EmailErrorError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/EmailError.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="Cleaner">
		<level value="ALL" />
		<appender-ref ref="CleanerAll" />
		<appender-ref ref="CleanerError" />
	</logger>
	<appender name="CleanerAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/Cleaner.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="CleanerError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/Cleaner.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="RelayLog">
		<level value="ALL" />
		<appender-ref ref="RelayLogAll" />
		<appender-ref ref="RelayLogError" />
	</logger>
	<appender name="RelayLogAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/RelayLog.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="RelayLogError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSRelay/RelayLog.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
</log4net>