<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatch" version="3.3.10.22" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.31.12" targetFramework="net472" />
  <package id="AWSSDK.RDS" version="3.3.38.7" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.31.20" targetFramework="net472" />
  <package id="log4net" version="2.0.15" targetFramework="net472" />
</packages>