<log4net>
	<logger name="BatchSequenceReport">
		<level value="ALL" />
		<appender-ref ref="BatchSequenceReportAll" />
		<appender-ref ref="BatchSequenceReportError" />
	</logger>
	<appender name="BatchSequenceReportAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/BatchSequenceReport.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="BatchSequenceReportError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/BatchSequenceReport.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ScheduledChecks">
		<level value="ALL" />
		<appender-ref ref="ScheduledChecksAll" />
		<appender-ref ref="ScheduledChecksError" />
	</logger>
	<appender name="ScheduledChecksAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ScheduledChecks.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ScheduledChecksError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ScheduledChecks.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="Cleaner">
		<level value="ALL" />
		<appender-ref ref="CleanerAll" />
		<appender-ref ref="CleanerError" />
	</logger>
	<appender name="CleanerAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/Cleaner.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="CleanerError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/Cleaner.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="GlacierProcess">
		<level value="ALL" />
		<appender-ref ref="GlacierProcessAll" />
		<appender-ref ref="GlacierProcessError" />
	</logger>
	<appender name="GlacierProcessAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/GlacierProcess.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="GlacierProcessError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/GlacierProcess.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="CleanupSPAM">
		<level value="ALL" />
		<appender-ref ref="CleanupSPAMAll" />
		<appender-ref ref="CleanupSPAMError" />
	</logger>
	<appender name="CleanupSPAMAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/CleanupSPAM.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="CleanupSPAMError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/CleanupSPAM.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="EmailNotification">
		<level value="ALL" />
		<appender-ref ref="EmailNotificationAll" />
		<appender-ref ref="EmailNotificationError" />
	</logger>
	<appender name="EmailNotificationAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/EmailNotification.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="EmailNotificationError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/EmailNotification.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ForecastLoad">
		<level value="ALL" />
		<appender-ref ref="ForecastLoadAll" />
		<appender-ref ref="ForecastLoadError" />
	</logger>
	<appender name="ForecastLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ForecastLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ForecastLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ForecastLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="LoadMonitor">
		<level value="ALL" />
		<appender-ref ref="LoadMonitorAll" />
		<appender-ref ref="LoadMonitorError" />
	</logger>
	<appender name="LoadMonitorAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/LoadMonitor.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="LoadMonitorError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/LoadMonitor.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="RANewReportDispatcher">
		<level value="ALL" />
		<appender-ref ref="RANewReportDispatcherAll" />
		<appender-ref ref="RANewReportDispatcherError" />
	</logger>
	<appender name="RANewReportDispatcherAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/RANewReportDispatcher.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="RANewReportDispatcherError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/RANewReportDispatcher.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ReportDispatcher">
		<level value="ALL" />
		<appender-ref ref="ReportDispatcherAll" />
		<appender-ref ref="ReportDispatcherError" />
	</logger>
	<appender name="ReportDispatcherAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ReportDispatcher.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ReportDispatcherError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ReportDispatcher.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="MonthlyTrendLoad">
		<level value="ALL" />
		<appender-ref ref="MonthlyTrendLoadAll" />
		<appender-ref ref="MonthlyTrendLoadError" />
	</logger>
	<appender name="MonthlyTrendLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/MonthlyTrendLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="MonthlyTrendLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/MonthlyTrendLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ManagementQ">
		<level value="ALL" />
		<appender-ref ref="ManagementQAll" />
		<appender-ref ref="ManagementQError" />
	</logger>
	<appender name="ManagementQAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ManagementQ.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ManagementQError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/ManagementQ.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="TransmissionLoad">
		<level value="ALL" />
		<appender-ref ref="TransmissionLoadAll" />
		<appender-ref ref="TransmissionLoadError" />
	</logger>
	<appender name="TransmissionLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/TransmissionLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="TransmissionLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/TransmissionLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="EmailError">
		<level value="ALL" />
		<appender-ref ref="EmailErrorAll" />
		<appender-ref ref="EmailErrorError" />
	</logger>
	<appender name="EmailErrorAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/EmailError.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="EmailErrorError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/Scheduler/EmailError.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
</log4net>