<log4net>
	<logger name="DataLoad">
		<level value="ALL" />
		<appender-ref ref="DataLoadAll" />
		<appender-ref ref="DataLoadError" />
	</logger>
	<appender name="DataLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DataLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="DataLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DataLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="Cleaner">
		<level value="ALL" />
		<appender-ref ref="CleanerAll" />
		<appender-ref ref="CleanerError" />
	</logger>
	<appender name="CleanerAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/Cleaner.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="CleanerError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/Cleaner.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="RDSMove">
		<level value="ALL" />
		<appender-ref ref="RDSMoveAll" />
		<appender-ref ref="RDSMoveError" />
	</logger>
	<appender name="RDSMoveAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/RDSMove.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="RDSMoveError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/RDSMove.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="SCMLoader">
		<level value="ALL" />
		<appender-ref ref="SCMLoaderAll" />
		<appender-ref ref="SCMLoaderError" />
	</logger>
	<appender name="SCMLoaderAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/SCMLoader.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="SCMLoaderError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/SCMLoader.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="JobLoader">
		<level value="ALL" />
		<appender-ref ref="JobLoaderAll" />
		<appender-ref ref="JobLoaderError" />
	</logger>
	<appender name="JobLoaderAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/JobLoader.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="JobLoaderError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/JobLoader.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ProcessLoad">
		<level value="ALL" />
		<appender-ref ref="ProcessLoadAll" />
		<appender-ref ref="ProcessLoadError" />
	</logger>
	<appender name="ProcessLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/ProcessLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ProcessLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/ProcessLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="DISCOPENDataLoad">
		<level value="ALL" />
		<appender-ref ref="DISCOPENDataLoadAll" />
		<appender-ref ref="DISCOPENDataLoadError" />
	</logger>
	<appender name="DISCOPENDataLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DISCOPENDataLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="DISCOPENDataLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DISCOPENDataLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="EmailError">
		<level value="ALL" />
		<appender-ref ref="EmailErrorAll" />
		<appender-ref ref="EmailErrorError" />
	</logger>
	<appender name="EmailErrorAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/EmailError.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="EmailErrorError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/EmailError.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="ApplicationLoad">
		<level value="ALL" />
		<appender-ref ref="ApplicationLoadAll" />
		<appender-ref ref="ApplicationLoadError" />
	</logger>
	<appender name="ApplicationLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/ApplicationLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ApplicationLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/ApplicationLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="GlacierProcess">
		<level value="ALL" />
		<appender-ref ref="GlacierProcessAll" />
		<appender-ref ref="GlacierProcessError" />
	</logger>
	<appender name="GlacierProcessAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/GlacierProcess.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="GlacierProcessError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/GlacierProcess.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="QNMLoad">
		<level value="ALL" />
		<appender-ref ref="QNMLoadAll" />
		<appender-ref ref="QNMLoadError" />
	</logger>
	<appender name="QNMLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/QNMLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="QNMLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/QNMLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="QNMCLIMLoad">
		<level value="ALL" />
		<appender-ref ref="QNMCLIMLoadAll" />
		<appender-ref ref="QNMCLIMLoadError" />
	</logger>
	<appender name="QNMCLIMLoadAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/QNMCLIMLoad.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="QNMCLIMLoadError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/QNMCLIMLoad.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
	<logger name="DBHouseKeeping">
		<level value="ALL" />
		<appender-ref ref="DBHouseKeepingAll" />
		<appender-ref ref="DBHouseKeepingError" />
	</logger>
	<appender name="DBHouseKeepingAll" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DBHouseKeeping.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="DBHouseKeepingError" type="log4net.Appender.RollingFileAppender">
		<file value="../Logs/UWSLoader/DBHouseKeeping.error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="ERROR" />
		</filter>
	</appender>
</log4net>